/**
 * Main Section Styles Documentation
 */

/* Main Section Height and Overflow Styles */
main {
    height: calc(100vh - 80px);
    height: calc(100Svh - 80px); /* For mobile */
    overflow: hidden;
}

/* Container Article Styles */
article.container {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 20px;
    height: 100%;
    overflow-y: auto; /* For Firefox */
    overflow-y: overlay; /* For other browsers */
}

/* Scrollbar Styles */
article.container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* Hover/Focus Scrollbar Styles */
article.container:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
    background-color: var(--white-alpha-8);
}

/* Scrollbar Button Height Styles */
article.container::-webkit-scrollbar-button {
    height: 10px;
}

/* Gradient Background Styles */
article.container::before {
    content: "";
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40%;
    background-image: var(--gradient-1);
    pointer-events: none;
    z-index: -1;
}

/* Margin Styles for Sections Except the Last One */
.section:not(:last-child) {
    margin-block-end: 16px;
}