/**
 * Media
 * 
 * This class represents a media element in CSS.
 * It can be used to apply styles to various types of media, such as images, videos, or audio.
 * 
 */

@media (min-width: 768px) {

    /* 🎨 MAIN SECTION STYLES 🎨 */

    /* Set the main section height to fill the viewport minus 96 pixels */
    main {
        height: calc(100vh - 96px);
        height: calc(100svh - 96px);
        /* Assuming 'svh' is a custom property, otherwise, use 'vh' */
    }

    /* 📜 ARTICLE CONTAINER STYLES 📜 */

    /* Article container styling */
    article.container {
        padding-block-start: 0;
        /* Remove top padding */
        grid-template-columns: 280px minmax(0, 1fr);
        /* Two columns with a minimum width for the second column */
        align-items: flex-start;
        /* Align items at the start of the cross axis */
        gap: 30px;
        /* Set the gap between columns */
    }

    /* 🚀 CONTENT-LEFT STYLES 🚀 */

    /* Sticky positioning for content-left */
    .content-left {
        position: sticky;
        top: 0;
        /* Stick to the top */
    }

    /* 🧱 SECTION STYLES 🧱 */

    /* Margin between sections, except the last one */
    .section:not(:last-child) {
        margin-block: 20px;
    }

    /* 🌦 FORECAST CARD STYLES 🌦 */

    /* Margin between forecast card items, except the last one */
    .forecast-card .card-item:not(:last-child) {
        margin-block: 15px;
    }

    /* ⚡ HIGHLIGHT LIST STYLES ⚡ */

    /* Grid template columns for highlight list */
    .highlight-list {
        grid-template-columns: 1fr 1fr;
    }

    /* 🌟 HIGHLIGHT CARD STYLES 🌟 */

    /* Span two columns and set height for the first two highlight cards */
    .highlight-card:nth-child(-n+2) {
        grid-column: span 2;
        height: 160px;
    }

    /* Set height for highlight cards starting from the third one */
    .highlight-card:nth-child(n+3) {
        height: 120px;
    }

    /* 🌈 HIGHLIGHTS STYLES 🌈 */

    /* Set font size for highlight icons */
    .highlights .m-icone {
        font-size: 3.6rem;
    }

    /* 🔄 HIGHLIGHT CARD ONE STYLES 🔄 */

    /* Adjust width and flex-direction for the first highlight card items */
    .highlight-card.one .card-item {
        width: 25%;
        flex-direction: column-reverse;
        /* Reverse the order of flex items */
        gap: 8px;
        /* Set the gap between items */
    }

    /* 🔄 SLIDER CONTAINER STYLES 🔄 */

    /* Adjust margin to accommodate the slider container */
    .slider-container {
        margin-inline: 0 -24px;
        /* Negative margin to extend the slider container */
        border-bottom-left-radius: var(--radius-16);
        /* Apply bottom-left border radius */
        border-top-left-radius: var(--radius-16);
        /* Apply top-left border radius */
    }

    /* 🚫 SLIDER LIST BEFORE PSEUDO-ELEMENT STYLES 🚫 */

    /* Hide the pseudo-element before the slider list */
    .slider-list::before {
        display: none;
    }

    /* 🚀 SLIDER LIST AFTER PSEUDO-ELEMENT STYLES 🚀 */

    /* Set a minimum width for the pseudo-element after the slider list */
    .slider-list::after {
        min-width: 12px;
        /* Minimum width for the after pseudo-element */
    }

    /* 🕐 HOURLY FORECAST CARD-SM STYLES 🕐 */

    /* Padding for hourly forecast small cards */
    .hourly-forecast .card-sm {
        padding: 16px;
        /* Apply padding to the hourly forecast small cards */
    }

}

/* 🎨 MEDIA QUERY FOR MINIMUM WIDTH 1200px 🎨 */

@media (min-width: 1200px) {
    /* 🌐 ROOT VARIABLES FOR LARGE SCREENS 🌐 */

    :root {
        --heading: 8rem;
        /* Large heading font size */
        --title-2: 2rem;
        /* Title-2 font size */
    }

    /* 📦 CONTAINER STYLES FOR LARGE SCREENS 📦 */

    .container {
        padding: 8px;
        /* Padding for general container */
    }

    /* 🃏 LARGE CARD STYLES 🃏 */

    .card-lg {
        padding: 36px;
        /* Padding for large cards */
    }

    /* 🔍 SMALL CARD STYLES 🔍 */

    .card-sm {
        padding: 24px;
        /* Padding for small cards */
    }

    /* 📖 TITLE-1 FONT SIZE 📖 */

    .title-1 {
        --title-1: 3.6rem;
        /* Title-1 font size */
    }

    /* 🌈 HIGHLIGHT-CARD.TWO CARD-ITEM COLUMN GAP 🌈 */

    .highlight-card.two .card-item {
        column-gap: 24px;
        /* Column gap for card items in highlight-card.two */
    }

    /* 🌟 HEADER STYLES FOR LARGE SCREENS 🌟 */

    .header .icon-btn {
        display: none;
        /* Hide icon buttons in the header */
    }

    .header {
        position: relative;
        /* Positioning for the header */
        height: 100px;
        /* Height of the header */
        z-index: 4;
        /* Z-index for stacking order */
    }

    .header .container {
        padding-block: 0;
        /* Remove padding for the header container */
        height: 100%;
        /* Set the height of the header container */
    }

    /* 🔍 SEARCH-VIEW STYLES FOR LARGE SCREENS 🔍 */

    .search-view,
    .search-view.active {
        all: unset;
        /* Unset all previous styles */
        display: block;
        /* Display the search view block */
        position: relative;
        /* Relative positioning for search view */
        width: 500px;
        /* Set a fixed width for the search view */
        animation: none;
        /* Disable animation for the search view */
    }

    .search-wrapper {
        border-block-end: none;
        /* Remove border block end for the search wrapper */
    }

    .search-wrapper>.m-icone {
        display: block;
        /* Display the search icon block */
    }

    /* 🔍 SEARCH-FIELD STYLES FOR LARGE SCREENS 🔍 */

    .search-field,
    .search-view .view-list {
        background-color: var(--surface);
        /* Background color for search field and view list */
    }

    .search-field {
        height: 56px;
        /* Set height for the search field */
        border-radius: var(--radius-28);
        /* Set border radius for the search field */
    }

    /* 🔍 SEARCH-RESULT STYLES FOR LARGE SCREENS 🔍 */

    .search-result,
    .search-view:not(:focus-within) .search-result {
        display: none;
        /* Hide search result when not focused within search view */
    }

    .search-view:focus-within .search-result.active {
        display: block;
        /* Display active search result when focused within search view */
    }

    .search-view:has(.search-result.active):focus-within .search-field {
        border-bottom-left-radius: 0;
        /* Adjust border radius for search field */
        border-bottom-right-radius: 0;
        /* Adjust border radius for search field */
    }

    /* 🔍 SEARCH-VIEW-LIST STYLES FOR LARGE SCREENS 🔍 */

    .search-view .view-list {
        position: absolute;
        /* Absolute positioning for search view list */
        top: 100%;
        /* Set top position below search field */
        left: 0;
        /* Set left position */
        width: 100%;
        /* Set width to cover the entire container */
        max-height: 360px;
        /* Set max height for the search view list */
        border-radius: 0 0 var(--radius-28) var(--radius-28);
        /* Border radius for the search view list */
        border-block-start: 1px solid var(--outline);
        /* Border block start for the search view list */
        overflow-y: auto;
        /* Enable vertical scrollbar when needed */
        overflow-y: overlay;
        /* Use overlay scrollbar style */
    }

    .search-view .view-list:empty {
        min-height: 120px;
        /* Set a minimum height for an empty search view list */
    }

    .search-view .search-view::-webkit-scrollbar-button {
        height: 20px;
        /* Set height for scrollbar button in the search view */
    }

    /* 🧐 SEARCH-VIEW HOVER AND FOCUS STYLES 🧐 */

    /* 🖱️ HOVER EFFECT 🖱️ */

    .search-view:is(:hover, :has(.view-list):hover) {
        filter: drop-shadow(var(--shadow-1));
        /* Apply drop shadow on hover */
    }

    /* 🧐 FOCUS EFFECT 🧐 */

    .search-view:is(:focus-within, :has(.view-list):focus-within) {
        filter: drop-shadow(var(--shadow-2));
        /* Apply a different drop shadow when focused within */
    }

    /* 🌐 MAIN SECTION STYLES 🌐 */

    /* Set the height of the main section */
    main {
        height: calc(100vh - 120px);
        /* Standard height calculation excluding header */
        height: calc(100svh - 120px);
        /* Adjusted height calculation */
    }

    /* 📜 ARTICLE CONTAINER STYLES 📜 */
    article.container {
        grid-template-columns: 360px minmax(0, 1fr);
        /* Define column layout */
        gap: 40px;
        /* Set the gap between columns */
    }

    /* 🌦️ CURRENT WEATHER STYLES 🌦️ */
    .current-weather .weather-icon {
        width: 80px;
        /* Adjust weather icon width */
    }

    /* 📅 FORECAST CARD STYLES 📅 */
    .forecast-card .title-2 {
        --title-2: 2.2rem;
        /* Customize title-2 font size */
    }

    /* 🌟 HIGHLIGHT CARD STYLES 🌟 */
    .highlight-card:nth-child(-n+2) {
        height: 200px;
        /* Set height for first two highlight cards */
    }

    .highlight-card:nth-child(n+3) {
        height: 150px;
        /* Set height for the rest of the highlight cards */
    }

    /* 🎨 ICON STYLES 🎨 */
    .highlight-card .m-icone {
        font-size: 4.8rem;
        /* Adjust icon font size */
    }

    /* 🔄 SLIDER LIST STYLES 🔄 */
    .slider-list {
        gap: 16px;
        /* Set the gap between slider items */
    }
}