/**
 * Styles for the slider container.
 */
.slider-container {
    overflow-x: auto;
    padding-inline: 16px;
    /* Adjust the spacing inside the container */
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    flex-direction: row;
}

/**
 * Hide the scrollbar for the slider container.
 */
.slider-container::-webkit-scrollbar {
    display: none;
}

/**
 * Styles for the slider list.
 */
.slider-list {
    display: flex;
    gap: 12px;
    flex-wrap: nowrap;
    margin-inline: 0;
    /* Remove the margin for the slider list */
    padding-block: 16px;
    /* Add padding to the top and bottom */
}

/**
 * Add pseudo-elements before and after the slider list.
 */
.slider-list::before,
.slider-list::after {
    content: "";
    min-width: 4px;
}

/**
 * Styles for the slider item.
 */
.slider-item {
    min-width: 110px;
    flex: 1 1 100%;
}

/**
 * Responsive styles for tablets (up to 768px width).
 */
@media only screen and (max-width: 768px) {
    .slider-container {
        padding-inline: 8px;
    }

    .slider-list {
        padding-block: 8px;
    }

    .slider-item {
        min-width: 80px;
    }
}

/**
 * Responsive styles for mobile devices (up to 480px width).
 */
@media only screen and (max-width: 480px) {
    .slider-container {
        padding-inline: 4px;
    }

    .slider-list {
        padding-block: 4px;
    }

    .slider-item {
        min-width: 60px;
    }
}

/**
 * Responsive styles for iPhone SE (320px viewport width).
 */
@media only screen and (max-width: 320px) {
    .slider-container {
        padding-inline: 2px;
    }

    .slider-list {
        padding-block: 2px;
    }

    /* Adjust min-width to accommodate 7 cards with some margin */
    .slider-item {
        min-width: calc((100% - 6 * 12px) / 7);
    }
}

/**
 * Styles for the slider card.
 */
.slider-card {
    text-align: center;
}

/**
 * Styles for the weather icon within the slider item.
 */
.slider-item .weather-icon {
    margin-inline: auto;
    margin-block: 12px;
}